<div class="section padding-title-top padding-title-bottom background-white"></div>

<div id="split">
    <div id="upload-section">

        <div id="edit-body">
            {{#each workImages}}
            <div class="upload-pictures" id={{id}}>
                <div class="edit-picture">
                    <img id=img{{id}} src=../{{image_path}} alt="" class="image1">
                </div>
                <form id={{id}}form class="form" action="/images/edit-work" method="POST" encType="multipart/form-data">
                    <div class="form-group">
                        <label for="hero-text">Picture {{id}}</label>
                        <label>
                            <input id=upload{{id}} type='file' name="file" class="form-control input" />
                        </label>
                        <label>
                            <input id=desc{{id}} type='text' name="tag" class="form-control"
                                placeholder={{description}} />
                        </label>
                        <label>
                            <input id=year{{id}} type='text' name="year" class="form-control" placeholder={{year}} />
                        </label>
                        <label>
                            <input id=year{{id}} type='text' name="id" class="form-control" value={{id}} style="display:none;"/>
                        </label>
                        <input id={{id}} type='submit' value="Upload" class="btn btn-primary submit" />
                    </div>
                </form>
            </div>
            {{/each}}

            {{#each aboutMeImage}}
            <div class="upload-pictures" id={{id}}>
                <div class="edit-picture">
                    <img src=../{{image_path}} alt="" class="image1">
                </div>
                <form class="form" action="/file" method="POST" encType="multipart/form-data">
                    <div class="form-group">
                        <label for="hero-text">About Me</label>
                        <label>
                            <input id={{id}} type='file' name="file" class="form-control" />
                        </label>
                        {{!-- <label>
                    <input id="tag10" type='text' name="tag" class="form-control" view="hidden" />
                </label> --}}
                        <input id={{id}} type='submit' value="Upload" class="btn btn-primary submit" />
                    </div>
                </form>
            </div>
            {{/each}}



        </div>
    </div>

    <div id="text-section">

        <div id="edit-body-text">
            <div class="hero-text">
                <form class="form" action="/file" method="POST" encType="multipart/form-data">
                    <div class="form-group-text">
                        <label for="hero-text">Homepage text:</label><br>
                        <input id="hero-text" type='text' name="hero" class="form-control"
                            placeholder="put text here" />
                        <input id="submit1" type='submit' value="Upload" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="about-text">
                <form class="form" action="/file" method="POST" encType="multipart/form-data">
                    <div class="form-group-text">
                        <label for="about-text">About text:</label><br>
                        <textarea id="about-text" type='text' name="about" rows="10" cols="50" class="form-control"
                            placeholder="put text here"></textarea>
                        <input id="submit1" type='submit' value="Upload" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>